# Configuration file meant to be used in the development environment.
# it assumes some services are running in the host machine, like vault
# Please make sure you run those via the convenience docker compose file
# [root]/devel/compose.yml
server:
  http:
    addr: 0.0.0.0:8000
    timeout: 1s
  http_metrics:
    addr: 0.0.0.0:0
  grpc:
    addr: 0.0.0.0:9000
    # We have some slow operations such as verifying an OCI registry
    timeout: 10s

# Directory where the plugins are located
# NOTE: plugins have the form of chainloop-plugin-<name>
plugins_dir: "./plugins/bin"
# Local CAS server for development
cas_server:
  grpc:
    addr: 0.0.0.0:9001
  insecure: true

credentials_service:
  vault:
    address: ${VAULT_ADDRESS:http://0.0.0.0:8200}
    token: ${VAULT_TOKEN:notasecret}
    secret_prefix: chainloop-devel

data:
  database:
    driver: pgx
    source: postgresql://postgres:@${DB_HOST:0.0.0.0}/controlplane

# Development credentials for the SSO authentication roundtrip
auth:
  oidc:
    domain: "http://0.0.0.0:5556/dex"
    redirect_url_scheme: "http"
    client_id: "chainloop-dev"
    client_secret: "ZXhhbXBsZS1hcHAtc2VjcmV0"

  # HMAC key used to sign the JWTs generated by the controlplane
  generated_jws_hmac_secret: "developmentKey"

  # Private key used to sign the JWTs meant to be consumed by the CAS
  cas_robot_account_private_key_path: "../../devel/devkeys/cas.pem"
