# Configuration file meant to be used in the development environment.
# it assumes some services are running in the host machine, like vault
# Please make sure you run those via the convenience docker compose file
# [root]/devel/compose.yml
server:
  http:
    addr: 0.0.0.0:8000
    timeout: 10s
  http_metrics:
    addr: 0.0.0.0:0
  grpc:
    addr: 0.0.0.0:9000
    # We have some slow operations such as verifying an OCI registry
    timeout: 10s
    # tls_config:
    #   certificate: "../../devel/devkeys/selfsigned/controlplane.crt"
    #   private_key: "../../devel/devkeys/selfsigned/controlplane.key"

certificate_authority:
  file_ca:
    cert_path: ${FILE_CA_CERT_PATH:../../devel/devkeys/ca.pub}
    key_path: ${FILE_CA_KEY_PATH:../../devel/devkeys/ca.pem}
    key_pass: chainloop
#  ejbca_ca:
#    server_url: "https://localhost/ejbca"
#    key_path: "../../devel/devkeys/superadmin.key"
#    cert_path: "../../devel/devkeys/superadmin.pem"
#    root_ca_path: "../../devel/devkeys/ManagementCA.pem"
#
#    certificate_profile_name: "PlainSigner"
#    end_entity_profile_name: "PlainSigner"
#    certificate_authority_name: "ManagementCA"

# Directory where the plugins are located
# NOTE: plugins have the form of chainloop-plugin-<name>
plugins_dir: "./plugins/bin"
# Local CAS server for development
cas_server:
  grpc:
    addr: 0.0.0.0:9001
  insecure: true
  download_url: http://0.0.0.0:8001/download

credentials_service:
  vault:
    address: ${VAULT_ADDRESS:http://0.0.0.0:8200}
    token: ${VAULT_TOKEN:notasecret}
  secret_prefix: chainloop-devel

data:
  database:
    driver: pgx
    source: postgresql://postgres:@${DB_HOST:0.0.0.0}/controlplane
    # max_open_conns: 10
    # max_idle_conns: 10

# Development credentials for the SSO authentication roundtrip
auth:
  dev_user: ${DEV_USER:}
  oidc:
    domain: ${DEX_DOMAIN:http://0.0.0.0:5556/dex}
    client_id: "chainloop-dev"
    client_secret: "ZXhhbXBsZS1hcHAtc2VjcmV0"

  # HMAC key used to sign the JWTs generated by the controlplane
  generated_jws_hmac_secret: "developmentKey"

  # Private key used to sign the JWTs meant to be consumed by the CAS
  cas_robot_account_private_key_path: ${CAS_KEY_PATH:../../devel/devkeys/cas.pem}
  # allow_list:
    # rules: ["@chainloop.local"]
    # selected_routes: ["/controlplane.v1.WorkflowRunService/List"]
    # custom_message: "you need to require access here http://foo.com"
    

# referrer_shared_index:
#   enabled: true
#   allowed_orgs:
#     - deadbeef

# Organizations with Prometheus integration enabled
prometheus_integration:
  - org_name: "development"

policy_providers:
  - name: chainloop
    default: true
    url: http://localhost:8002/v1

enable_profiler: true