app/controlplane/api/gen/frontend/** linguist-generated=true
app/controlplane/pkg/data/ent/** linguist-generated=true
app/controlplane/pkg/data/ent/migrate/** linguist-generated=false
app/controlplane/pkg/data/ent/migrate/** linguist-detectable=true
app/controlplane/pkg/data/ent/schema/* linguist-generated=false
app/controlplane/pkg/data/ent/schema/* linguist-detectable=true