# Contract for the release.yaml workflow
schemaVersion: v1
policies:
  attestation:
    - ref: source-commit
      with:
        check_signature: yes
      requirements:
        - chainloop-best-practices/commit-signed
    - ref: containers-with-sbom
  materials:
    - ref: artifact-signed
      requirements:
        - chainloop-best-practices/container-signed
policyGroups:
  - ref: sbom-quality
    with:
      bannedLicenses: AGPL-1.0-only, AGPL-1.0-or-later, AGPL-3.0-only, AGPL-3.0-or-later
      bannedComponents: log4j@2.14.1
  - ref: slsa-checks
    with:
      provenance_material_name: slsa-attestation
      runner: GITHUB_ACTION
      federated_identity: "true"
runner:
  type: GITHUB_ACTION
