{{if .NeedsResult -}}
result := {
    "skipped": skipped,
    "violations": violations,
    "skip_reason": skip_reason,
    "ignore": ignore,
}

{{end -}}
{{if .NeedsSkipReason -}}
default skip_reason := ""

skip_reason := m if {
    not valid_input
    m := "the file content is not recognized"
}

{{end -}}
{{if .NeedsValidInput -}}
default valid_input := true

{{end -}}
{{if .NeedsSkipped -}}
default skipped := true

skipped := false if valid_input

{{end -}}
{{if .NeedsIgnore -}}
default ignore := false

{{end -}}
{{if .NeedsViolations -}}
default violations := []

{{end -}}