{{- /*
Copyright Chainloop, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chainloop.controlplane.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "chainloop.controlplane.labels" . | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
{{- $hmacpass := include "common.secrets.passwords.manage" (dict "secret" (include "chainloop.controlplane.fullname" .) "key" "generated_jws_hmac_secret" "providedValues" (list "controlplane.auth.passphrase") "context" $) }}
data:
  # We store it also as a different key so it can be reused during upgrades by the common.secrets.passwords.manage helper
  generated_jws_hmac_secret: {{ $hmacpass }}
  db_migrate_source: {{include "controlplane.database.atlas_connection_string" . | b64enc | quote }}
stringData:
  {{- if and .Values.sentry .Values.sentry.enabled }}
    {{- fail "configuring sentry at the top level is no longer supported. Add the configuration to the controlplane section in the values.yaml file" }}
  {{- end -}}
  {{- if and .Values.controlplane.sentry .Values.controlplane.sentry.enabled }}
  config.observability.yaml: |
    {{- include "chainloop.sentry" .Values.controlplane.sentry | nindent 4 }}
  {{- end }}
  {{- if and .Values.controlplane.keylessSigning.enabled (eq "fileCA" .Values.controlplane.keylessSigning.backend) }}
  # deprecated
  fileca.secret.yaml: |
    {{- with .Values.controlplane.keylessSigning.fileCA }}
    certificate_authorities:
      - issuer: true
        file_ca:
          cert_path: "/ca_secrets/file_ca.cert"
          key_path:  "/ca_secrets/file_ca.key"
          key_pass: "{{- required "FileCA keyPass is mandatory" .keyPass }}"
    {{- end }}
  {{- end }}
  {{- if and .Values.controlplane.keylessSigning.enabled (eq "ejbcaCA" .Values.controlplane.keylessSigning.backend) }}
  # deprecated
  ejbca.secret.yaml: |
    {{- with .Values.controlplane.keylessSigning.ejbcaCA }}
    certificate_authorities:
      - issuer: true
        ejbca_ca:
          cert_path: "/ca_secrets/ejbca_client.cert"
          key_path:  "/ca_secrets/ejbca_client.key"
          server_url: "{{- required "EJBCA server URL is mandatory" .serverURL }}"
          certificate_profile_name: "{{- required "EJBCA certificate profile name is mandatory" .certProfileName }}"
          end_entity_profile_name: "{{- required "EJBCA end entity profile name is mandatory" .endEntityProfileName }}"
          certificate_authority_name: "{{- required "EJBCA certificate authority name is mandatory" .caName }}"
    {{- end }}
  {{- end }}
  {{- if and .Values.controlplane.keylessSigning.enabled .Values.controlplane.keylessSigning.backends }}
  signing.secrets.yaml: |
    certificate_authorities:
  {{- range $index, $backend := .Values.controlplane.keylessSigning.backends }}
  {{- if eq "fileCA" $backend.type }}
    {{- with $backend.fileCA }}
      - issuer: {{default false $backend.issuer }}
        file_ca:
          cert_path: "/sign_secrets_{{$backend.type | lower}}_{{$index}}/file_ca.cert"
          key_path:  "/sign_secrets_{{$backend.type | lower}}_{{$index}}/file_ca.key"
          key_pass: "{{- required "FileCA keyPass is mandatory" .keyPass }}"
    {{- end }}
  {{- else if eq "ejbcaCA" $backend.type }}
    {{- with $backend.ejbcaCA }}
      - issuer: {{default false $backend.issuer}}
        ejbca_ca:
          cert_path: "/sign_secrets_{{$backend.type | lower}}_{{$index}}/ejbca_client.cert"
          key_path:  "/sign_secrets_{{$backend.type | lower}}_{{$index}}/ejbca_client.key"
          root_ca_path: "/sign_secrets_{{$backend.type | lower}}_{{$index}}/ejbca_ca.cert"
          server_url: "{{- required "EJBCA server URL is mandatory" .serverURL }}"
          certificate_profile_name: "{{- required "EJBCA certificate profile name is mandatory" .certProfileName }}"
          end_entity_profile_name: "{{- required "EJBCA end entity profile name is mandatory" .endEntityProfileName }}"
          certificate_authority_name: "{{- required "EJBCA certificate authority name is mandatory" .caName }}"
    {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
  config.secret.yaml: |
    data:
      database:
        driver: pgx
        source: {{include "controlplane.database.connection_string" . }}
        {{- if and .Values.controlplane.externalDatabase.maxOpenConns  }}
        max_open_conns: {{ .Values.controlplane.externalDatabase.maxOpenConns }}
        {{- end }}
        {{- if and .Values.controlplane.externalDatabase.minOpenConns  }}
        min_open_conns: {{ .Values.controlplane.externalDatabase.minOpenConns }}
        {{- end }}
        {{- if and .Values.controlplane.externalDatabase.maxIdleTime  }}
        max_conn_idle_time: "{{ .Values.controlplane.externalDatabase.maxIdleTime }}" 
        {{- end }}
    
    {{- if and .Values.controlplane.nats.enabled }}
    nats_server: 
      uri: {{ include "controlplane.nats.connection_string" . | quote }}
      {{- if ne .Values.controlplane.nats.token "" }}
      token: {{ .Values.controlplane.nats.token | quote }}
      {{- end }}
    {{- end }}

    credentials_service: {{- include "chainloop.credentials_service_settings" . | indent 6 }}

    auth:
      oidc: {{- include "controlplane.oidc_settings" . | indent 4 }}

      # HMAC key used to sign the JWTs generated by the controlplane
      # The helper returns the base64 quoted value of the secret
      # We need to remove the quotes and then decoding it so it's compatible with the stringData stanza
      generated_jws_hmac_secret: {{ $hmacpass | replace "\"" "" | b64dec | quote }}

      # Private key used to sign the JWTs meant to be consumed by the CAS
      cas_robot_account_private_key_path: "/secrets/cas.private.key"
