name: Deploy Documentation

on:
  push:
    tags: ["v*.*.*"]
  workflow_dispatch:

# Limit to a single workflow
concurrency: "deploy-to-prod"

jobs:
  chainloop_init:
    name: Chainloop Init
    uses: chainloop-dev/labs/.github/workflows/chainloop_init.yml@64839eb68c20fefda46929c6c6e893cdf0537619
    secrets:
      api_token: ${{ secrets.CHAINLOOP_TOKEN }}
    with:
      workflow_name: "chainloop-docs-release"
      project_name: "chainloop"

  deploy_docs:
    name: Deploy Documentation
    runs-on: ubuntu-latest
    needs:
      - chainloop_init
    defaults:
      run:
        working-directory: ./docs
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          sparse-checkout: |
            docs
          sparse-checkout-cone-mode: false

      - name: Install Syft
        run: |
          # Install Syft
          wget --no-verbose https://raw.githubusercontent.com/anchore/syft/main/install.sh -O - | sh -s -- -b /usr/local/bin

      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 18

      - name: yarn install
        run: yarn install

      - name: Build
        run: ./node_modules/.bin/netlify build

      - name: Deploy
        run: ./node_modules/.bin/netlify deploy --prod

      - name: Generate reports
        run: |
          mkdir -p reports
          tar -czf reports/build.tar.gz build

      - uses: anchore/sbom-action@a5afbb185c4d9799c758f05e496032af75ae9128
        with:
          path: .
          format: cyclonedx-json
          upload-artifact: false
          config: docs/.syft.yaml
          output-file: docs/reports/sbom.cyclonedx.json

      - uses: anchore/sbom-action@a5afbb185c4d9799c758f05e496032af75ae9128
        with:
          path: .
          format: spdx-json
          upload-artifact: false
          output-file: docs/reports/sbom.spdx.json

      # Upload artifacts so they are shared with the chainloop job
      - uses: actions/upload-artifact@ef09cdac3e2d3e60d8ccadda691f4f1cec5035cb
        with:
          name: reports
          path: docs/reports/*

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

  chainloop_push:
    name: Chainloop Push
    uses: chainloop-dev/labs/.github/workflows/chainloop_push.yml@25c77318e739c60e86d3dfe7e864f51c665972dd
    needs:
      - deploy_docs
    secrets:
      api_token: ${{ secrets.CHAINLOOP_TOKEN }}
    with:
      attestation_name: "docs"
      workflow_name: "chainloop-docs-release"
