name: Lint

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read

jobs:
  golangci:
    name: lint
    strategy:
      fail-fast: false
      matrix:
        app:
          - main-module
          - cli
          - controlplane
          - artifact-cas
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version: "1.22.5"

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Lint main module
        uses: golangci/golangci-lint-action@3a919529898de77ec3da873e3063ca4b10e7f5cc # v3.7.0
        if: ${{ matrix.app == 'main-module' }}
        with:
          version: v1.54

      - name: Lint ${{ matrix.app }}
        uses: golangci/golangci-lint-action@3a919529898de77ec3da873e3063ca4b10e7f5cc # v3.7.0
        if: ${{ matrix.app != 'main-module' }}
        with:
          working-directory: app/${{ matrix.app }}
          version: v1.54

  lint-protos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: bufbuild/buf-setup-action@eb60cd0de4f14f1f57cf346916b8cd69a9e7ed0b # v1.26.1
        with:
          buf_user: ${{ secrets.buf_user }}
          buf_api_token: ${{ secrets.buf_api_token }}
      - uses: bufbuild/buf-lint-action@bd48f53224baaaf0fc55de9a913e7680ca6dbea4 # v1.0.3

  lint-dagger-module:
    runs-on: ubuntu-latest
    steps:
      - name: Install Dagger CLI
        run: |
          mkdir -p ~/.local/bin
          cd ~/.local
          curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=0.11.0  sh

      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
        with:
          go-version: "1.22.5"

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Initialize module
        run: |
          make -C extras/dagger module-init

      - name: Lint
        uses: golangci/golangci-lint-action@3a919529898de77ec3da873e3063ca4b10e7f5cc # v3.7.0
        with:
          working-directory: extras/dagger
          version: v1.54
