name: Lint

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read

jobs:
  golangci:
    name: lint
    strategy:
      fail-fast: false
      matrix:
        app:
          - main-module
          - cli
          - controlplane
          - artifact-cas
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@be3c94b385c4f180051c996d336f57a34c397495 # v3.6.1
        with:
          go-version: "1.25.3"

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Lint main module
        uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd # 7.0.0
        if: ${{ matrix.app == 'main-module' }}
        with:
          version: v2.4.0
          only-new-issues: 'true'

      - name: Lint ${{ matrix.app }}
        uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd # 7.0.0
        if: ${{ matrix.app != 'main-module' }}
        with:
          working-directory: app/${{ matrix.app }}
          version: v2.4.0
          only-new-issues: 'true'

  lint-protos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: bufbuild/buf-action@5150a1eef5c10b6a5cf8a69fc872f24a09473195 # v1.1.1
        with:
          version: 1.49.0
          token: ${{ secrets.buf_api_token }}
          breaking: false
          pr_comment: false

  lint-dagger-module:
    runs-on: ubuntu-latest
    steps:
      - name: Install Dagger CLI
        run: |
          mkdir -p ~/.local/bin
          cd ~/.local
          curl -L https://dl.dagger.io/dagger/install.sh | DAGGER_VERSION=0.18.1  sh

      - uses: actions/setup-go@be3c94b385c4f180051c996d336f57a34c397495 # v3.6.1
        with:
          go-version: "1.25.3"

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Initialize module
        run: |
          make -C extras/dagger module-init

      - name: Lint
        uses: golangci/golangci-lint-action@1481404843c368bc19ca9406f87d6e0fc97bdcfd # 7.0.0
        with:
          working-directory: extras/dagger
          version: v2.4.0
          only-new-issues: 'true'
