name: Package Helm Chart

on:
  # Only push Helm Chart if the deployment templates have changed
  push:
    branches:
      - main
    paths:
      - deployment/chainloop/**

permissions:
  contents: read

jobs:
  package:
    name: Package and push Helm Chart
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Docker login to Github Packages
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3.5

      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Package Chart
        run: helm package deployment/chainloop/

      - name: Push Chart
        run: |
          for pkg in chainloop*.tgz; do
            helm push ${pkg} oci://ghcr.io/chainloop-dev/charts
          done
