# This workflow uses actions that are not certified by GitHub. They are provided
# by a third-party and are governed by separate terms of service, privacy
# policy, and support documentation.

name: Sync Chainloop Workflow contracts
on:
  push:
    branches: [ "main" ]
    paths:
      - '.github/workflows/contracts/**'
  schedule:
    - cron: "0 0 * * *" # daily at midnight

# Declare default permissions as read only.
permissions: read-all

jobs:
  chainloop_contract_sync:
    name: Chainloop Contract Sync
    uses: chainloop-dev/labs/.github/workflows/chainloop_contract_sync.yml@0d6e9ca1190aecc9048729de0cce8e96f314e2bb
    secrets:
      api_token: ${{ secrets.CHAINLOOP_API_TOKEN }}
